@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes openOverlay {
    from {
        opacity: 0;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes closeOverlay {
    from {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}

@keyframes closeRotate {
    from {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
}
    to {
        transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
}
}

:root{
    --barcs-dark-blue: #001276;
    --barcs-blue: #026DE2;
    --barcs-light-blue: #AFFDFD;
    --barcs-grey: #444444;
    --barcs-white: #FFFFFF;
}
*{
    scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
    &::selection{
        color: white;
        background-color: var(--barcs-dark-blue);
    }
    &::-moz-selection{
        color: white;
        background-color: var(--barcs-dark-blue);
    }
}
html{
    scroll-behavior: smooth;
}

.max-width-container{
    width: 100%;
    max-width: 1440px;
}
.content-container{
    width: 100%;
    max-width: 1440px;
    &-section{
        width: 80%;
        max-width: 1200px;
        margin: 0 auto 50px;
    }
}
.hide{
    display: none !important;
}
.fw-bold{
    font-weight: bold;
}
.margin-bottom-50{
    margin-bottom: 50px;
}

.header-section{
    display: flex;
    align-items: center;
    height: 562px;
    background-color: var(--barcs-dark-blue);
    margin: 0 auto;
}
.header-centre{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 80%;
    margin: auto;
    background-color: var(--barcs-light-blue);
    & .header-text{
        color: var(--barcs-dark-blue);
        width: 50%;
        margin-left: 126px;
        & h1{
            font-size: 2.25rem;
            font-weight: bolder;
            line-height: 2.25rem;
        }
        & p{
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.5rem;
        }
    }
    & .header-img{
        position: relative;
        border-style: none;
        height: 110%;
        bottom: 4%;
    }
}
.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.language-toggle{
    width: 300px;
    height: 50px;
    background-color: var(--barcs-dark-blue);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    &-inner{
        width: 150px;
        height: 40px;
        border-radius: 20px;
        margin: auto;
        background-color: var(--barcs-white);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
.job-areas{
    display: flex;
    flex-direction: column;
    & h2{
        color: var(--barcs-dark-blue);
        font-size: 2rem;
    }
    & p{
        color: var(--barcs-dark-blue);
        line-height: 1.5rem;
    }
    &-cards{
        min-height: 345px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1%;
        margin-top: 50px;
        &-card{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20%;
            padding: 2rem 0;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            background-color: var(--barcs-dark-blue);
            &-img{
                margin: 0 auto;
            }
            & p{
                color: var(--barcs-white);
                font-weight: bold;
                line-height: 1.5rem;
                text-align: center;
                margin: 0 auto;
                width: 80%;
                &::selection{
                    background-color: var(--barcs-white);
                    color: var(--barcs-dark-blue);
                }
                &::-moz-selection{
                    background-color: var(--barcs-white);
                    color: var(--barcs-dark-blue);
                }
            }
        }
        &-overlay{
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 10%;
            align-items: center;
            position: absolute;
            width: 80%;
            max-width: 1152px;
            height: 345px;
            background-color: var(--barcs-dark-blue);
            & p{
                color: var(--barcs-white);
            }
            &-text{
                display: flex;
                flex-direction: column;
                width: 60%;
            }
            &-close{
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;
                &:hover{
                    animation: closeRotate 0.2s linear;
                    -webkit-animation: closeRotate 0.2s linear;
                }
            }
            &-img{
                padding-left: 10%;
            }
        }
    }
}
.btn-blue{
    cursor: pointer;
    width: 12rem;
    background-color: var(--barcs-blue);
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: var(--barcs-white);
    font-weight: bold;
    padding: 1rem 2.5rem;
    margin: 0 auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover{
        text-decoration: underline;
        background-color: var(--barcs-white);
        color: var(--barcs-blue);
        width: 13rem;
    }
}
.benefits{
    background-color: var(--barcs-light-blue);
    &-content{
        & h2{
            color: var(--barcs-grey);
            font-size: 2rem;
            margin-top: 85px;
        }
        & p{
            color: var(--barcs-grey);
            line-height: 1.5rem;
        }
        &-cards{
            min-height: 259px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1%;
            margin-top: 50px;
            &-card{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 20%;
                padding: 2rem 0;
                border-radius: 33px;
                -webkit-border-radius: 33px;
                -moz-border-radius: 33px;
                -ms-border-radius: 33px;
                -o-border-radius: 33px;
                background-color: var(--barcs-dark-blue);
                &-img{
                    margin: 0 auto;
                }
                & p{
                    color: var(--barcs-white);
                    font-weight: bold;
                    line-height: 1.5rem;
                    text-align: center;
                    margin: 0 auto;
                    width: 80%;
                    &::selection{
                        background-color: var(--barcs-white);
                        color: var(--barcs-dark-blue);
                    }
                    &::-moz-selection{
                        background-color: var(--barcs-white);
                        color: var(--barcs-dark-blue);
                    }
                }
            }
            &-overlay{
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                display: flex;
                flex-direction: row;
                justify-content: left;
                gap: 10%;
                align-items: center;
                position: absolute;
                width: 80%;
                max-width: 1152px;
                height: 345px;
                background-color: var(--barcs-dark-blue);
                & p{
                    color: var(--barcs-white);
                }
                &-text{
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                }
                &-close{
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                &-img{
                    padding-left: 10%;
                }
            }
        }
    }
}