@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --barcs-dark-blue: #001276;
  --barcs-blue: #026DE2;
  --barcs-light-blue: #AFFDFD;
  --barcs-grey: #444444;
  --barcs-white: #FFFFFF;
}

* {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
*::-moz-selection {
  color: white;
  background-color: var(--barcs-dark-blue);
}
*::selection {
  color: white;
  background-color: var(--barcs-dark-blue);
}
*::-moz-selection {
  color: white;
  background-color: var(--barcs-dark-blue);
}

html {
  scroll-behavior: smooth;
}

.max-width-container {
  width: 100%;
  max-width: 1440px;
}

.content-container {
  width: 100%;
  max-width: 1440px;
}
.content-container-section {
  width: 80%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.hide {
  display: none !important;
}

.fw-bold {
  font-weight: bold;
}

.margin-auto {
  margin: auto;
}

.header-section {
  display: flex;
  align-items: center;
  height: 562px;
  background-color: var(--barcs-dark-blue);
  margin: 0 auto;
}

.header-centre {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: var(--barcs-light-blue);
}
.header-centre .header-text {
  color: var(--barcs-dark-blue);
  width: 50%;
  margin-left: 126px;
}
.header-centre .header-text h1 {
  font-size: 2.25rem;
  font-weight: bolder;
  line-height: 2.25rem;
}
.header-centre .header-text p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}
.header-centre .header-img {
  position: relative;
  border-style: none;
  height: 110%;
  bottom: 4%;
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.language-toggle {
  width: 300px;
  height: 50px;
  background-color: var(--barcs-dark-blue);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.language-toggle-inner {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: auto;
  background-color: var(--barcs-white);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.job-areas {
  display: flex;
  flex-direction: column;
}
.job-areas h2 {
  color: var(--barcs-dark-blue);
  font-size: 2rem;
}
.job-areas p {
  color: var(--barcs-dark-blue);
  line-height: 1.5rem;
}
.job-areas-cards {
  min-height: 345px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
  margin-top: 50px;
}
.job-areas-cards-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding: 2rem 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--barcs-dark-blue);
}
.job-areas-cards-card-img {
  margin: 0 auto;
}
.job-areas-cards-card p {
  color: var(--barcs-white);
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.job-areas-cards-card p::-moz-selection {
  background-color: var(--barcs-white);
  color: var(--barcs-dark-blue);
}
.job-areas-cards-card p::selection {
  background-color: var(--barcs-white);
  color: var(--barcs-dark-blue);
}
.job-areas-cards-card p::-moz-selection {
  background-color: var(--barcs-white);
  color: var(--barcs-dark-blue);
}
.job-areas-cards-overlay {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: absolute;
  width: 80%;
  max-width: 1152px;
  height: 345px;
  background-color: var(--barcs-dark-blue);
}
.job-areas-cards-overlay p {
  color: var(--barcs-white);
}
.job-areas-cards-overlay-text {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.job-areas-cards-overlay-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-blue {
  cursor: pointer;
  width: 12rem;
  background-color: var(--barcs-blue);
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: var(--barcs-white);
  font-weight: bold;
  padding: 1rem 2.5rem;
  margin: 0 auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn-blue:hover {
  text-decoration: underline;
  background-color: var(--barcs-white);
  color: var(--barcs-blue);
  width: 14rem;
}

.benefits {
  background-color: var(--barcs-light-blue);
}/*# sourceMappingURL=hamburg.css.map */